{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
    Тут я размещу информацию о себе, используя свои умения верстать.
    Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста.
</p>
<article> 
    Меня зовут Андрей, мне 29 лет. Увлеаюсь большим теннисом. Так как занимался им всю жизнь.Играл профессионально.<br />
    Решил заняться программированием потому как по первому образованию у меня специальность автоматизация <br />
     <a href="https://github.com/numinga27">Моя ссылка на GitHub
         </a>
</article>
{% endblock %}