{% extends 'base.html' %}
{% load static %}


{% block title %} Профайл пользователя {{ profile.user }} {% endblock %}
{% block content %}
      <div class="container py-5">        
        <h1>Все посты пользователя {{ profile.posts_list }} </h1>
        <h3>Всего постов: {{ profile.post_counts }} </h3>  
        {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Автор: {{ profile.user }}
              <a href="{% url 'posts:group_list' post.group.slug %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>
           {{ post.text|linebreaks }}
          </p>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
        </article>       
        {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}
        {% if not forloop.last %}
          <hr>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      </div>
{% endblock %}
